n8n_automation/AI content summarization from URLs, text, and PDFs using OpenAI and n8n.json
{
  "name": "AI content summarization from URLs, text, and PDFs using OpenAI and n8n",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "={{ $json.output.split(\"\\n\") }}",
        "options": {}
      },
      "id": "80bd0b32-7be0-4711-9eec-83da1f3ac129",
      "name": "Split Insights",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3600,
        752
      ]
    },
    {
      "parameters": {
        "path": "6e8000d4-56cb-457a-9dfe-5961a75b342f",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "7e08c607-a9b3-44f6-9759-940e93755a60",
      "name": "summarize-file",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -3600,
        416
      ],
      "webhookId": "f9e0680d-68c5-48a0-a48b-5f994744f8e4",
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "# Summarize a PDF file",
        "height": 96,
        "width": 400,
        "color": 5
      },
      "id": "7d8d177b-20e5-45c8-8617-56eb8fd54eb6",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3760,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# AI Content Summarizer Suite\n\nThis n8n template collection demonstrates how to build a comprehensive AI-powered content summarization system that handles multiple input types: URLs, raw text, and PDF files. Built as 4 separate workflows for maximum flexibility.\nUse cases: Research workflows, content curation, document processing, meeting prep, social media content creation, or integrating smart summarization into any app or platform.\n\n## How it works\n- Multi-input handling: Separate workflows for URLs (web scraping), direct text input, and PDF file processing\n- Smart PDF processing: Attempts text extraction first, falls back to OCR.Space for image-based PDFs\n- AI summarization: Uses OpenAI's GPT-4.1-mini with customizable length (brief/standard/detailed) and focus areas (key points/numbers/conclusions/action items)\n- Language support: Multi-language summaries with automatic language detection\n- Flexible output: Returns clean markdown-formatted summaries via webhook responses\n- Unified option: The all-in-one workflow automatically detects input type and routes accordingly\n\n## How to use\n1. Replace webhook triggers with your preferred method (manual, form, API endpoint)\n2. Each workflow accepts different parameters: URL, text content, or file upload\n3. Customize summary length and focus in the AI prompt nodes\nAuthentication is optional - switch to \"none\" if running internally\n4. Perfect for integration with Bubble, Zapier, or any platform that can make HTTP requests\n\n## Requirements\n- OpenAI API key or OpenRouter Keys\n- OCR.Space API key (for PDF fallback processing)\n- n8n instance (cloud or self-hosted)\n- Any platform that can make HTTP requests.\n\n## Setup Steps\n1. Replace \"Dummy OpenAI\" with your OpenAI credentials\n2. Add your OCR.Space API key in the OCR nodes is not mandatory.\n3. Update webhook authentication as needed\n4. Test each workflow path individually",
        "height": 1008,
        "width": 608
      },
      "id": "20799a2f-8a8c-4a87-ba17-7f74327c8a79",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4688,
        -1136
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "input_type",
              "type": "string",
              "value": "={{ $json.query.input_type || $json.body.input_type || 'url' }}"
            },
            {
              "name": "url",
              "type": "string",
              "value": "={{ $json.query.url || $json.body.url || '' }}"
            },
            {
              "name": "text_content",
              "type": "string",
              "value": "={{ $json.query.text_content || $json.body.text_content || '' }}"
            },
            {
              "name": "summary_length",
              "type": "string",
              "value": "={{ $json.query.summary_length || $json.body.summary_length || 'standard' }}"
            },
            {
              "name": "focus",
              "type": "string",
              "value": "={{ $json.query.focus || $json.body.focus || 'key_points' }}"
            },
            {
              "name": "language",
              "type": "string",
              "value": "={{ $json.query.language || $json.body.language || 'english' }}"
            },
            {
              "name": "file_content",
              "type": "string",
              "value": "={{ $json.query.file_content || $json.body.file_content || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9be7cfb8-336a-4f9d-aad6-8046d20e3013",
      "name": "Extract File Parameters",
      "type": "n8n-nodes-base.set",
      "position": [
        -3376,
        416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "7d325839-acf0-479e-b104-c59ad7f68dc0",
      "name": "Download PDF File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3152,
        416
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "03c5b32e-bc4b-44a6-a7d6-e62739dfcafa",
      "name": "Extract Text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -2928,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "88a7fc31-aac6-4e2f-899e-c250feef5f10",
              "operator": {
                "type": "string",
                "operation": "empty"
              },
              "leftValue": "={{ $json.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "d9fdbed1-042c-407a-9e07-e6277207d39d",
      "name": "Check PDF Text Extraction",
      "type": "n8n-nodes-base.if",
      "position": [
        -2704,
        416
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "functionCode": "const lang = $json.language?.toLowerCase() || 'english';\nlet code = 'eng';\nif (lang.includes('spanish')) code = 'spa';\nelse if (lang.includes('french')) code = 'fra';\nelse if (lang.includes('german')) code = 'ger';\nreturn { json: { language_code: code } };"
      },
      "id": "779f5a6f-240f-4afc-a7aa-2e59dce01baa",
      "name": "Map OCR Language Code",
      "type": "n8n-nodes-base.function",
      "position": [
        -2480,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_OCR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "={{ $json.language_code }}"
            },
            {
              "name": "isOverlayRequired",
              "value": "false"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "9945954f-10b1-486d-8b19-510526fec09a",
      "name": "OCR Fallback Processing",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2256,
        352
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80a0f7dc-ee66-4499-ac84-1e21fca8e6c7",
              "name": "raw_content",
              "type": "string",
              "value": "={{ $json.raw_content || $json.data || $json.text || $json.text_content || $json.ParsedResults?.[0]?.ParsedText || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c0e703f9-1c9a-45cb-bd0d-8b09be4e712b",
      "name": "Process Extracted Text",
      "type": "n8n-nodes-base.set",
      "position": [
        -2032,
        416
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize: {{ $json.raw_content }}",
        "options": {
          "systemMessage": "=Current date and time {{ $now }}\n\nYou are an expert content summarizer. \n\nRead the entire content, summarise the key points it covers and don’t loose any important content. \nGroup them by topic or chapter wise and output that content into an array, each topic should have title, description, concepts or sub topics it covered - this can be technical or emotion or chapter depending upon the nature of book, and each subtopic should have the summarised key points, and theme.\nEvery topic should have action items, if applicable. Do not skip sub topics, try to include all sub topics.\n\noutput format:\n{\n  \"title\": \"string\",\n  \"description\": \"string\",\n  \"concepts\": [\n    {\n      \"keyPoints\": [\"string\"],\n      \"theme\": \"string\"\n    }\n  ]\n}\n\nContent: {{ $json.raw_content }}"
        }
      },
      "id": "a689994b-3d9e-4b33-8003-64209b8b82dd",
      "name": "Summarize PDF Content",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1808,
        416
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "58603c4d-027f-4e91-b585-19be99bd3e8a",
      "name": "OpenAI GPT-4.1 (PDF)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1744,
        640
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "NypNTvYoPZzETP08",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "content",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c193201-ad78-4985-b8e6-f89cf520d7d2",
      "name": "Format PDF Summary",
      "type": "n8n-nodes-base.set",
      "position": [
        -1456,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "id": "044b0613-4550-4559-829e-291f0fe54bd6",
      "name": "Return PDF Summary",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -1232,
        320
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "content": "## Important\n- PDF file must be publicly accesible.",
        "height": 80,
        "width": 528,
        "color": 3
      },
      "id": "cd56fc0b-3d10-4571-a255-19163d6ab3ee",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4688,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// return $input.all();\n\n// Try to parse string values as JSON\nfunction tryParse(value) {\n  if (typeof value === \"string\") {\n    try {\n      return JSON.parse(value); // removes \\n, \\\", etc\n    } catch (e) {\n      return value;\n    }\n  }\n  return value;\n}\n\n// Clean JSON structure\nfunction cleanJsonString(data) {\n  if (Array.isArray(data)) {\n    return data.map(item => {\n      const cleanedItem = {};\n      for (const key in item) {\n        cleanedItem[key] = tryParse(item[key]);\n      }\n      return cleanedItem;\n    });\n  } else if (typeof data === \"object\" && data !== null) {\n    const cleanedObj = {};\n    for (const key in data) {\n      cleanedObj[key] = tryParse(data[key]);\n    }\n    return cleanedObj;\n  } else {\n    return data;\n  }\n}\nconsole.log('hello')\nconsole.log($input.all())\nconst data = $input.all()[0]['json']\n// console.log(data)\nconst cleanedData = cleanJsonString(data);\nconsole.log(cleanedData)\nreturn cleanedData.output"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        512
      ],
      "id": "a07e327e-0ffd-4d9c-beff-f5ac4c58aed3",
      "name": "pdf_summary_data_formatter"
    },
    {
      "parameters": {
        "fieldToSplitOut": "concepts",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "e38f30e0-d37f-44e7-8d8a-02e46705b9fd",
      "name": "Split Concepts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1232,
        512
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transform this book insight into an engaging Instagram post caption: {{ $json.title }}.\nContent: {{ $json.concepts }}\nWrite an engaging caption with key points and action items in bold.\n",
        "options": {
          "systemMessage": "You are a social media expert who creates viral Instagram content. Write engaging, authentic captions that resonate with audiences interested in books, learning, and personal growth."
        }
      },
      "id": "cbb7176f-6b98-4af6-b861-5a4e6b896e74",
      "name": "Create Instagram Post",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1008,
        512
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a detailed DALL-E image prompt for an Instagram post about: {{ $(\"Split Concepts\").item.json.title }}.\nTheme: {{ $(\"Split Concepts\").item.json.concepts.theme }}\nKey Points: {{ $(\"Split Concepts\").item.json.concepts.keyPoints }}\n\nGenerate a vivid, detailed prompt for a visually striking image that captures the essence of this book concept. The image should be inspirational, professional, and Instagram-worthy.\n",
        "options": {
          "systemMessage": "=You are an expert at creating detailed image generation prompts. Create vivid, specific prompts that result in beautiful, engaging images for social media."
        }
      },
      "id": "9bd51963-6709-4b0d-b233-1b6ee68a9500",
      "name": "Generate Image Prompt",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -656,
        512
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "dall-e-3",
          "cachedResultName": "dall-e-3"
        },
        "prompt": "={{ $json.output }}",
        "options": {
          "dalleQuality": "standard",
          "size": "1024x1024",
          "style": "vivid",
          "returnImageUrls": false,
          "binaryPropertyOutput": "data"
        }
      },
      "id": "ee0a3272-53d1-4d8b-b9b3-85cd867896c3",
      "name": "Generate Instagram Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -304,
        512
      ],
      "credentials": {
        "openAiApi": {
          "id": "NypNTvYoPZzETP08",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {
    "summarize-file": [
      {
        "json": {
          "query": {
            "input_type": "url",
            "url": "https://rm-generic-bucket.s3.us-east-1.amazonaws.com/monk_who_sold_ferrari.pdf"
          }
        }
      }
    ]
  },
  "connections": {
    "Split Insights": {
      "main": [
        []
      ]
    },
    "summarize-file": {
      "main": [
        [
          {
            "node": "Extract File Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF File": {
      "main": [
        [
          {
            "node": "Extract Text from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format PDF Summary": {
      "main": [
        [
          {
            "node": "Return PDF Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4.1 (PDF)": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize PDF Content",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Create Instagram Post",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF": {
      "main": [
        [
          {
            "node": "Check PDF Text Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map OCR Language Code": {
      "main": [
        [
          {
            "node": "OCR Fallback Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize PDF Content": {
      "main": [
        [
          {
            "node": "Format PDF Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "pdf_summary_data_formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Extracted Text": {
      "main": [
        [
          {
            "node": "Summarize PDF Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Parameters": {
      "main": [
        [
          {
            "node": "Download PDF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Fallback Processing": {
      "main": [
        [
          {
            "node": "Process Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PDF Text Extraction": {
      "main": [
        [
          {
            "node": "Map OCR Language Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf_summary_data_formatter": {
      "main": [
        [
          {
            "node": "Split Concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Concepts": {
      "main": [
        [
          {
            "node": "Create Instagram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Post": {
      "main": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Instagram Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c828759e-0b71-4880-a52b-758d3df46493",
  "meta": {
    "instanceId": "f23a904d19ac80977e3945e76bcedc6c09785254aa9d775c3eb91751250aa66e"
  },
  "id": "MUo5sXRDk00DgvfA",
  "tags": []
}